.sidenav{

    background-color: #2e4859;
}
.a {
color: aliceblue;
padding-right: 5px;
border-left: 3px solid transparent;

}

.a:hover{
    border-left: 3px solid greenyellow

}

.i{
    padding-right: 5px;

}

.content{
    padding: 20px;

    background-color: aliceblue;

}