.div{
display: flex;
 height: 50px;
justify-content: space-between;
margin-bottom: 20px;

}




.spacinho{
padding-right: 20px;


}

.btn{
border-radius: 40px;
background-color: #5b7cfd;
color: aliceblue;


}

