<div class="div">
	<div class="div">
		<h1 class="spacinho">{{ nomeDominio }}</h1>

		<form class="col-12 col-lg-auto mb-1 mb-lg-0 me-lg-3">
			<input
				type="search"
				class="form-control"
				placeholder="Buscar Domínios..."
				aria-label="Search"
			/>
		</form>
	</div>
	<button class="btn" (click)="openModal()">Novo Domínio</button>
</div>

<app-card-header></app-card-header>
<!--<app-card-tile *ngFor="let itemNomeDominios of nomeDominios; let i = index">
    <div class="listitem">
      
      
      <input
        #nomeDominio
        type="button"
        class="h3"
        routerLink="aplicativos"
        value="{{ itemNomeDominios }}"
      />
      
      
  
      <app-card-ativo></app-card-ativo>
    </div>
  </app-card-tile>-->
