<ul class="list-group list-group-flush">

  
    <li class="list-group-item shadow mb-1 bg-white rounded list listitem">
      <a href=""><div> <h2 class="h2"> Cras justo odio</h2> 
         <h4 class="h3">10928437</h4>
      </div></a>
      <mat-card class="ativo">
        <h2>Inativo</h2>
      </mat-card>
    </li>
 

  <a href=""><li class="list-group-item shadow mb-1 bg-white rounded list listitem"> <!-- intem do card completo-->
    <p>ac facilisis in</p>
    <mat-card class="inativo">
      <h2>ativo</h2>
    </mat-card>
  </li></a>
  
</ul>




