.card {
  border-width: 20px;
  border-left: #2ac8c5;
 
}

.ativo{
border-radius: 50px;
padding-left: 40px;
padding-right: 40px;
background-color: #eec5c5;
color: #dd5b5b;
font-weight: bold;
}
a{
text-decoration: none;

}

.h2{
  color: #303030;

}

.h3{
  color: gray;
}

.inativo{
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #c5edee;
  color: #2ac8c5;
  font-weight: bold;
  }

.listitem {
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  vertical-align:middle;
}
